:root {
    /* ------- COLORS ------- */
    --color-primary: hsl(257, 40%, 49%);
    --color-secondary: hsl(300, 69%, 71%);
    --color-text: hsl(0, 0%, 100%);

    /* ------- RADIUS ------- */
    --radius-20: 20px;
    --radius-full: 100px;

    /* ------- SHADOWS------- */
    --shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
    --shadow-bigger: 2px 4px 9px rgba(0, 0, 0, 0.2586);
}

/* ------- BASIC ------- */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Poppins', 'Arial', 'Roboto', 'Helvetica', sans-serif;
}

body {
    align-items: center;
    background: var(--color-primary) url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-family: 'Open Sans', 'Arial', 'Roboto', 'Helvetica', sans-serif;
    min-height: 100vh;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* ------- HEADER ------- */

.header__logo {
    margin-bottom: 5rem;
    width: 120px;
}

/* ------- SECTION ABOUT ------- */

.about {
    max-width: 375px;
}

.about__title {
    font-weight: 600;
    line-height: 1.55;
    padding-bottom: 1.4rem;
}

.about__img {
    margin-bottom: 4.8rem;
}

.about__description {
    line-height: 1.6;
    text-align: center;
}

.about__link {
    background-color: var(--color-text);
    border-radius: var(--radius-20);
    box-shadow: var(--shadow);
    color: var(--color-primary);
    display: flex;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 2.3rem;
    margin-bottom: 6rem;
    padding: 1.3rem 7rem;
    justify-content: center;
    width: 70%;
}

/* ------- FOOTER ------- */

.footer__links {
    display: flex;
    justify-content: center;
}

.footer__link:link,
.footer__link:active,
.footer__link:visited {
    align-items: center;
    border: solid 1px var(--color-text);
    border-radius: var(--radius-full);
    color: var(--color-text);
    display: flex;
    height: 2.8rem;
    font-size: 1.2rem;
    justify-content: center;
    line-height: 2.8rem;
    margin: 0 0.5rem;
    width: 2.8rem;
}

@media screen and (max-width: 375px) {
    body {
        background: var(--color-primary) url('../images/bg-mobile.svg');
        background-position: top center;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1440px;
        min-height: 100vh;
        padding: 3.5rem;
    }

    .about {
        display: flex;
        max-width: 100%;
    }

    .about__title {
        font-size: 4rem;
        line-height: 6rem;
        padding: 3.5rem 0;
        width: 80%;
    }

    .about__img-wrapper {
        width: 50%;
    }

    .about__content {
        padding: 0 0 0 5.3rem;
        text-align: left;
        width: 50%;
    }

    .about__description {
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 2.7rem;
        text-align: left;
    }

    .about__link {
        border-radius: var(--radius-full);
        box-shadow: var(--shadow-bigger);
        font-size: 1.8rem;
        float: left;
        padding: 2rem 7rem;
        transition: background-color 0.3s linear, color 0.3s linear;
        width: 200px;
    }

    .about__link:hover {
        background-color: var(--color-secondary);
        color: var(--color-text);
    }

    .header__logo {
        width: 200px;
    }

    .footer__links {
        justify-content: flex-end;
    }

    .footer__link:link,
    .footer__link:active,
    .footer__link:visited {
        height: 4rem;
        font-size: 1.6rem;
        width: 4rem;
    }

    .footer__link:link,
    .footer__link:active,
    .footer__link:visited {
        transition: border 0.3s ease, color 0.3s ease, filter 0.3s ease;
    }

    .footer__link:hover {
        border: 1px solid var(--color-secondary);
        color: var(--color-secondary);
        filter: saturate(3);
    }
}
